body {
    margin: 0px;
    background: #E2E9E9;
    font-size: 150%
}


#header-div {
    width: 100%;
    background-color: #337227;
    text-align: center
}

#centralize {
    /* background: red; */
    margin: 0 auto;
    max-width: 1084px;
}

#header-div table {
    height: 50px;

}

#header-div a {
      text-decoration: none;
      color: white;
      font-size: large;
      padding: 15px;
      padding: 15px;
}

#header-div a:hover {
  background-color: #2A6020;
}



/* Link selector settings */
#main-div {

    background: white;
    max-width: 1024px;
    margin: auto;

    min-height: 700px;

    padding: 30px;
}

#selector-div select{
    width: 1024px;
    height: 1.5em;
    font-size: 1em

}

#selector-div option{
    font-size: 1em;
}
/* -------------------- */



/* COMMON PARAMETERS FOR DIFFERENT FORMS */

/* h1 tag */
#form-header {
        font-size: 1.25em;
        text-align: center;
        margin: 0.25em;
    }

/* table for inputs */
#form-table {
        font-size: 1em;
        border-spacing: 0.5em 0.25em;
        /* background: gray; */
        border: 1px red;
        table-layout: fixed;
        margin: 0;
    }

#form-table td {
        /* border: 1px solid black; */
        font-weight: bold;
    }

#form-table td.name {
        /* border: 1px solid red; */
        white-space: nowrap
    }

#form-table input {
        font-size: 1em;
        max-height: 1.5em;
        width: 100%;
        border-color: black;
        border-radius: 7px;
        padding-left: 10px;
        padding-right: 10px
    }

#form-table input.number {
        width: 15%;
        text-align: center;
    }

#form-table  input.initials {
        width: 7%;
        text-align: center;
        margin: 0 0.5% 0;
    }

#form-table   input.surname {
        width: 40%;
        /* set right margin */
        margin: 0 0.5% 0 0;
    }

/* div for buttons */
#button-area {
        text-align: center;
        margin-top: 3%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }



/* submit button */
#submit_btn {
        background-color: #337227;
        color: white;
        width: 60%;
        font-size: 1em;
        height: 2em;
        border-radius: 10px;
    }

#copy_btn {
        background-color:  #337227;
        color: white;
        width: 2em;
        font-size: 1em;
        height: 2em;
        border-radius: 10px;
        padding: 1%;
 }

#clear_btn {
        background-color:  #337227;
        color: white;
        width: 2em;
        font-size: 1em;
        height: 2em;
        border-radius: 10px;
        padding: 1%;

 }

#clear_btn img {
    vertical-align:middle;
    width: 100%;
    height: 100%;
}

#copy_btn img {
    vertical-align:middle;
    width: 100%;
    height: 100%;
}

 /* output text fireld */
#output {
        margin-top: 3%;
        text-align: center
}

#output textarea {
        overflow-y: scroll;
        width: 90%;
        height: 10em;
        font-size: 1em;

}
