body {
    margin: 0px;
    background: #E2E9E9;
    font-size: 150%
}

/* header settings */
#header-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  font-size: large;
}

#header-ul li {
  float: left;
}

#header-ul li a {
  display: block;
  color: white;
  text-align: center;
  /* header width depends on */
  padding: 15px;
  text-decoration: none;
}

#header-ul li a:hover {
  background-color: #111111;
}
/* -------------------- */

/* Link selector settings */
#main-div {

    background: white;
    max-width: 1024px;
    margin: auto;

    min-height: 700px;

    padding: 30px;
}

#selector-div select{
    width: 1024px;
    height: 40px;
    font-size: 1em

}

#selector-div option{
    font-size: 1em;
}
/* -------------------- */
