<h1 id="form-header">Книга, 1 автор</h1>

<form>
    <table id="form-table">
        <tr>
            <td  class='name'>Название учебника</td> <td><input></td>
        </tr>

        <tr>
            <td  class='name'>Автор</td> <td><input class="surname"><input class="initials"><input class="initials"></td> <!--<td id="fst">  <input></td> <td><input></td> -->
        </tr>

        <tr>
            <td  class='name'>Количество страниц</td> <td><input class="number"></td>
        </tr>

        <tr>
            <td  class='name'>Издательство</td> <td><input></td>
        </tr>

        <tr>
            <td  class='name'>Город</td> <td><input></td>

        <tr>
            <td  class='name'>Номер издания</td> <td><input class="number"></td>
        </tr>

        <tr>
            <td  class='name'>Год издания</td> <td><input class="number"></td>
        </tr>

    </table>


    <div id='submit'><button type='button'>Подтвердить</button></div>

    <div id='output'><textarea cols="5"></textarea></div>


</form>
