<script src="../../static/js/set-litlink-form.js"></script>

{% block form_block %}
    <!-- this part varies by certain form -->
{% endblock %}

<div id='button-area'>
    <button id='clear_btn' type='button'><img src="static/images/clear.png"> </button>
    <button id='submit_btn' type='button'>Подтвердить</button>
    <button id='copy_btn' type='button'><img src="static/images/copy.png"> </</button>
</div>

</form>

<div id='output'><textarea cols="5" id="output_area" name="output_area"></textarea></div>
