
<style>






</style>

<h1 id="form-header">Статья из журнала</h1>

<form>
    <table id="form-table">

    <tr>
        <td  class='name'>Название статьи</td> <td><input></td>
    </tr>

    <tr>
        <td  class='name'>Автор</td> <td><input class="surname"><input class="initials"><input class="initials"></td> <!--<td id="fst">  <input></td> <td><input></td> -->
    </tr>

    <tr>
        <td class='name'>Название журнала</td> <td><input></td>
    </tr>

    <tr>
        <td  class='name'>Номер журнала</td> <td><input class="number"></td>
    </tr>

    <tr>
        <td  class='name's>Год издания</td> <td><input class="number"></td>
    </tr>

    </table>

    <div id='submit'><button type='button'>Подтвердить</button></div>

    <div id='output'><textarea cols="5"></textarea></div>
    <!-- <div id='copy'><button type='button'>Копировать</button></div> -->

</form>
