{% extends "base.html" %}
{% block content %}
	<script src="../static/js/jquery-3.4.1.js"></script>
	<script src="../static/js/set-litlink-form.js"></script>
    <p><b>LitLinks</b>: формирование ссылок на использованные источники в соответствии с  правилами оформления курсовых и дипломных работ БГУ.</p>

    <p>Выберите тип ссылки:</p>

    <div id='selector-div'>
    <form>
        <select id='ll-selector'>
            <option></option>
            <option>Статья из журнала</option>
            <option>Интернет-ресурс</option>

        </select>

    </form>

    <hr>

    </div>
    
    <div id='form-div'>
    
    
    
    </div>

{% endblock %}
