{% extends "base.html" %}
{% block content %}

<p><b>PYRefList</b> - веб-приложение, упрощающее создание ссылок для библиографического списка для научной работы.</p>
<p>Для того, чтобы получить готовую ссылку, заполните нужную форму на главной странице и нажмите кнопку <b>"Подтвердить"</b>. В некоторых случаях вам может понадобиться доработать ее вручную:</p>
<ul>
    <li>Если вам нужна ссылка не на русском языке ('изд.' → 'выд.', 'С.' → 'P.' и т. д.)</li>
    <li>Если вы хотите использовать сокращенное наименование города ('М.', 'СПб.')</li>
    <li>...</li>
</ul>

<p>В настоящий момент поддерживаются следубщие типы ссылок: </p>

<table id='examples_table'>
    <tr>
        <th class='short'>Тип ссылки</th>
        <th>Пример</th>
    </tr>

    <tr>
        <td class='short'>Статья из журнала</td>
        <td>Шарапов, Р.Д. Альтернативные теории объекта преступления в современном уголовном праве России / Р.Д. Шарапов. // Lex Russica. – 2015. – № 12. – C. 1–2.</td>
    </tr>

    <td class='short'>Книга, 1 автор</td>
    <td></td>

    </td>

</table>


<p>Программа рассчитана лишь на наиболее простые и типичные случаи и <b class='warning-b'>не может гарантировать 100%-ю точность</b>, поэтому рекомендуется самостоятельно сверяться с правилами оформления перед сдачей важной работы.</p>


{% endblock %}

